.PageWrapper{
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 25px;
}

.HeaderOneStyle{
    font-size: 80px;
    font-weight: normal;
    margin: 0;
    padding: 40px;
}

.ArticleCardWrapper{
    align-items: flex-start;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 25px;
}

.ArticleCardImage{
    flex-basis: 25%;
    padding: 15px;
    
}

.ArticleCardImage img {
    height: auto;
    width: 100%;
    
}

.ArticleCardText{
    flex-basis: 75%;
}

.ArticleCardTitle{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.ArticleCardDate{
    padding-left: 10px;
}

.ArticleCardBlurb{
    font-size: 16px;
}

.ArticleCardLink{
    font-weight: bold;
}

