.PageWrapper{
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 25px;
}

.HeaderOneStyle{
    font-size: 80px;
    font-weight: normal;
    margin: 0;
    padding: 40px;
}

.ArticleCardWrapper{
    align-items: flex-start;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 25px;
}

.ArticleCardImage{
    flex-basis: 25%;
    padding: 15px;
    
}

.ArticleCardImage img {
    height: auto;
    width: 100%;
}

.ArticleCardText{
    flex-basis: 75%;
}

.ArticleCardTitle{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.ArticleCardDate{
    margin: 0 auto;
    padding-left: 10px;
}

.ArticleCardBlurb{
    font-size: 20px;
    line-height: 1.5;
}

.ArticleCardLink{
    font-weight: bold;
}

.ArticleHeader{
    background: #e5e5e5;
    padding: 40px 0;
}

.ArticleHeaderText{
    margin: 0 auto;
    max-width: 640px;
    padding: 0 25px;
    line-height: 1;
}


.ArticleHeaderBlurb {
    font-size: 20px;
    line-height: 1.5;
}

.ArticleText{
    margin: 0 auto;
    max-width: 640px;
    padding: 0 25px;
}

.ArticleDate {
    margin: 0 auto;
    padding: 0 25px;
    line-height: 1.5;
}

.ArticleText p {
    font-size: 16px;
    line-height: 1.5;
}

.ArticleText h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.ArticleText h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

a:link {
    color:pink;
    font-weight: bold;
}

a:visited {
    color: blue;
}